.container {
  display: flex;
  align-items: center;
  position: relative;
}

.form {
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px auto;
  height: auto;
  padding: 25px;
  border-radius: 20px;
  min-width: 27vw;
  flex-direction: column;
  min-height: 65vh;
  justify-content: center;
  display: flex;
}

.form h2 {
  font-size: 35px;
  font-weight: 600;
  color: #0c2551;
}

.form p {
  font-size: 15px;
  font-weight: 500;
  color: #8897b1;
}

.form span {
  font-size: 12px;
  font-weight: 400;
  color: #8897b1;
  padding: 5px;
}

.form span a {
  color: #0962ff;
  font-weight: 500;
  text-decoration: none;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  width: 90%;
}

.checkboxContainer label {
  color: #99a7bc;
  font-size: 13px;
  font-weight: 400;
}

.checkboxContainer input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid #f0f4f9;
  accent-color: #4143e5;
}

.createAccBtn {
  border: none;
  border-radius: 20px;
  padding: 17px 50px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #0962ff;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(0);
}

.createAccBtn:hover {
  transform: translateY(-4px);
  filter: brightness(120%);
}

.createAccBtn:active {
  transform: translateY(1px);
}

.sideImage {
  height: 135px;
  width: 135px;
  position: absolute;
  top: 9px;
  right: 34px;
  border-radius: 50%;
}

.display {
  display: none;
}

.errorMessage {
  color: #fe766a !important;
  font-size: 12px !important;
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .display {
    display: block !important;
  }

  .form p {
    font-size: 14px;
    margin: 5px 0px;
  }

  .form {
    min-width: 75vw;
  }
}

@media only screen and (max-width: 500px) {
  .sideImage {
    right: 25px;
  }

  .form {
    min-width: 80vw;
    min-height: 60vh;
  }

  .form h2 {
    font-size: 27px;
  }
}
